*{
    margin:0px;
    padding: 0px;
    text-decoration-line: none;
    font-family: 'Roboto', sans-serif;
}
.first_page{
    background-image: url(../assets/asset\ 1.jpeg);
    background-size: cover;
    height: 850px;
    filter: brightness(100%);
    
}

header .active{
   border-bottom: 2px solid #FFBF00;
}
.Megaone{
    padding-top: 45px;
    padding-left: 30px;
    height: 50px;
    width: 250px;
    float: left;
}

/* MENU */
 #sec1{
    display: inline-block;
    padding-left: 200px;
    padding-bottom: 50px;
    margin-top: 50px;
    word-spacing: 40px;
}

#sec1 a{
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
}


/* Menu line(Three Line) */
.menu_line{
    display: inline;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    color: #ffffff;
}

/* FULL HEADER */
header{
    height: 90px;
    position: sticky;
    top: 0%;
    align-content: center;
}

/* OUR CAST in menu */
.para_1{
    word-spacing: 2px;
}

.para2{
    word-spacing: -2px;
}

/* MEGAONE */
.para{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

/* ALL FONTS */
.fonts{   
    text-align: center;
    padding-top: 250px;
    font-size: larger;
}
#sec2 p{
    color: #ffffff;
}

/* DREAM SCALPES */
#head1{
    font-size: 90px;
    font-weight: 900;
}

/* BUTTON(watch trailer) */
.button1{
    background-color: #ffbf00;
    color: #ffffff;
    margin-top: 8px;
    height: 50px;
    width: 200px;
    border: none;
    font-size: medium;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.button1:hover{
    background-color: black;
    cursor: pointer;
}
















/* secondpage margin */
.secondpage{
    margin-top: 150px;
    margin-left: 230px;
}
/* Basic Info About Shop */
.span1{
    color: #ffbf00;
    font-size: 20px;
}
/* ABOUT US STORY  */
.Story{
    padding-top: 10px;
    font-size: 30px;
}
/* paragraph */
#head2{
    padding-top: 20px;
    font-size: 20px;
    width: 450px;
    font-family: Roboto, sans-serif;
}
/* READ MORE button */
.button2{
    background-color: #ffbf00;
    border: none;
    width: 130px;
    height: 40px;
    font-size: medium;
    color: #ffffff;
    margin-top: 15px;
}
/* image */
#About{
        height: 300px;
        width: 500px;
        float: right;
        margin-top: -175px;
        margin-right: 200px;
        opacity: 0.8;
        font-family: Oswald, sans-serif;
}


















/* THIRD PAGE */

.thirdpage{
    width: 80%;
    margin: auto;
    margin-top: 280px;
}
/* OUR PRODUCTION */
.thirdpage h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-style: single;
    text-decoration-color: #FFBF00;
}

.all_div{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px;
    justify-content: space-around;
}

/* TV SHOWS */
#div_1{
    text-align: center;
}
#div_1 i{
    font-size: 60px;
    margin-bottom: 10px;
}
#div_1 h2{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}
#div_1 p{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color:rgb(123 121 121);
    text-align: center;
}
#div_1:hover{
    h2{
        color: #FFBF00;
    }
}

/* AWARDS */
#div_2{
    text-align: center;

}
#div_2 i{
    font-size: 60px;
    margin-bottom: 10px;
}
#div_2 h2{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}
#div_2 p{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color:rgb(123 121 121);
    text-align: center;
}
#div_2:hover{
    h2{
        color: #FFBF00;
    }
}

/* MOVIES */
#div_3{
    text-align: center;
}
#div_3 i{
    font-size: 60px;
    margin-bottom: 10px;
}
#div_3 h2{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}
#div_3 p{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color:rgb(123 121 121);
    text-align: center;
}
#div_3:hover{
    h2{
        color: #FFBF00;
    }
}

/* FESTIVALS */
#div_4{
    text-align: center;

}
#div_4 i{
    font-size: 60px;
    margin-bottom: 10px;
}
#div_4 h2{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}
#div_4 p{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color:rgb(123 121 121);
    text-align: center;
}
#div_4:hover{
    h2{
        color: #FFBF00;
    }
}




/* Video */
.videos{
    height: 550px;
    background-image: url(../assets/asset\ 27.jpeg);
    position: relative;
    background-attachment: fixed;
}
.videos a{
    display: flex;
    justify-content: center;
    align-items: end;
}
.videos span{
    background-color: #ffffff;
    color: #FFBF00;
    border-radius: 50%;
    font-size: 65px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videos span:hover{
    background-color: #FFBF00;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
}







/* FOURTH PAGE */
#cast{
    margin-top: 220px;
    font-style: bold;
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-style: single;
    text-decoration-color: #ffbf00;
    margin-bottom: 50px;
}
#container{
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    display: flex;
    justify-content: center;
}


#grid1:hover{
    .id1{
        background-color: #FFBF00;
    }
}
.img1{
    height: 250px;
    width: 250px;
}
.id1{
    height: 250px;
    width: 250px;
    padding-left: 10px;
}
.id1 h3,span{
    line-height: 35px;
}
.id1 i{
    border: 2px solid black;
    border-radius: 25px;
    padding: 8px;
    margin-top: 15px;
}


#grid2:hover{
    .id2{
        background-color: #FFBF00;
    }
}
.img2{
    height: 250px;
    width: 250px;
}
.id2{
    height: 250px;
    width: 250px;
    padding-left: 10px;
}
.id2 h3,span{
    line-height: 35px;
}
.id2 i{
    border: 2px solid black;
    border-radius: 25px;
    padding: 8px;
    margin-top: 15px;
}


#grid3:hover{
    .id3{
        background-color: #FFBF00;
    }
}
.img3{
    height: 250px;
    width: 250px;
}
.id3{
    height: 250px;
    width: 250px;
    padding-left: 10px;
}
.id3 h3,span{
    line-height: 35px;
}
.id3 i{
    border: 2px solid black;
    border-radius: 25px;
    padding: 8px;
    margin-top: 15px;
}


#grid4:hover{
    .id4{
        background-color: #FFBF00;
    }
}
.img4{
    height: 250px;
    width: 250px;
}.id4{
    height: 250px;
    width: 250px;
    padding-left: 10px;

}
.id4 h3,span{
    line-height: 35px;
}
.id4 i{
    border: 2px solid black;
    border-radius: 25px;
    padding: 8px;
    margin-top: 15px;
}










/* FIFTH PAGE */
.fifthpage{
    margin-top: 250px;
}
.fifthpage h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-style: single;
    text-decoration-color: #FFBF00;
}
#menubar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.fifthpage pre{
    display: flex;
}
.fifthpage p:hover{
    color: #FFBF00;
}
#movie_container{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 230px 230ox;
    grid-column-gap: 70px;
    grid-row-gap: 10px;
}
#grid5{
    grid-area: 2/ span 2;
}












/* Footer */
.footer_section{
    margin-top: 150px;
    background-color: #FFBF00;
    height: 100px;
}
#icon1{
    margin-top: 50px;
    margin-left: 100px;
    letter-spacing: 25px;
    font-size: 17px;
    display: inline-block;
}
#icon1 i{
    width: 45px;    
    height: 45px;
    border-radius: 50px;
}
#icon1 i:hover{
    color: #ffffff;
    cursor: pointer;
}
#copy{
    font-family: Roboto, sans-serif;
    color:rgb(123 121 121);
    float: right;
    margin-top: 50px;
    padding-right: 20px;
}
