<<<<<<< HEAD
/* height */

$h-1:100px;
$h-2:200px;
$h-3:300px;
$h-4:400px;
$h-5:500px;
$h-6:600px;
$h-7:800px;
$h-8:900px;

/* width */
 
$w-1:100px;
$w-2:200px;
$w-3:300px;
$w-4:400px;
$w-5:500px;
$w-6:600px;
$w-7:800px;
=======
/* height */

$h-1:100px;
$h-2:200px;
$h-3:300px;
$h-4:400px;
$h-5:500px;
$h-6:600px;
$h-7:800px;
$h-8:900px;

/* width */
 
$w-1:100px;
$w-2:200px;
$w-3:300px;
$w-4:400px;
$w-5:500px;
$w-6:600px;
$w-7:800px;
>>>>>>> 1e314b6dab41829ccf25c07f43d1b221c9f35010
$w-8:900px;