@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .addbtn{
        @apply bg-blue-400 p-2 m-2 rounded-sm
    }
    .removebtn{
        @apply bg-red-400 p-2 m-2 rounded-sm
    }
}

table,th,td{
    padding: 25px;
    border : 1px solid black;
    border-collapse: collapse;
}

