/* 1 way */
.online{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  /* 2 way */
.import{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* 3 way */
  @font-face {
    font-family: font-offline;
    src: url(../Lecture11/font/RubikScribble-Regular.ttf);
  }
  
.offline{
    font-family: font-offline;
}

/* .display-none{
    display: none;
} */

p{
    background-color: rgb(88, 221, 221);
}

.display-inline{
    display: inline;
}

span{
    background-color: burlywood;
    /* display: block; */
    display: inline-block;
}

.display-inline span{
     /* display: initial; */
     display: inherit;
}

.container{
    margin:10px;
    padding: 15px;
    background-color: blueviolet;
    /* display: fl
    ex; */
    display: inline-flex;
}
.item1{
    background-color: brown;
}
.item2{
    background-color:chartreuse;
}
.item3{
    background-color:yellow;
}
.item4{
    background-color: hotpink;
}