/* grid-template-column */

$grid-t-c-1:100px;
$grid-t-c-2:200px;
$grid-t-c-3:300px;
$grid-t-c-4:400px;
$grid-t-c-5:500px;
$grid-t-c-6:600px;
$grid-t-c-350:350px;

/* grid-template-column */

$grid-t-r-1:100px;
$grid-t-r-2:200px;
$grid-t-r-3:300px;
$grid-t-r-4:400px;
$grid-t-r-5:500px;
$grid-t-r-6:600px;
$grid-t-r-350:350px;

/* grid-gap */

$grid-gap-1:10px;
$grid-gap-2:20px;
$grid-gap-3:30px;
$grid-gap-4:40px;
$grid-gap-5:50px;