
/* misellensious */

$text-d-none:none;
$text-d-underline:underline;
$list-none:none;

/* float */

$float-l:left;
$float-r:right;

/* border */

$border-none:none;

/* border radius */

$b-radius-1:10px;
$b-radius-2:20px;
$b-radius-3:30px;
$b-radius-4:40px;
$b-radius-5:50px;
$b-radius-6:60px;
$b-radius-7:70px;
$b-radius-8:80px;
$b-radius-9:90px;
$b-radius-10:100px;
