table { 
    border: 2px solid black; 
    padding: 20px;
} 
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
#result{
    border: 2px solid black;
}

input[type="button"]{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 25px;
    font-size: 25px;
}

input[type="text"]{
    width: 235px;
    padding: 20PX 25PX;
    font-size: 40PX;
    font-weight: 500;
}
td input{
    background-color: lightslategrey;
    height: 70px;
    width: 70px;
}
