.container{
  height: 500px;
  width: 420px;
  background-color: blanchedalmond;
}

button{
  background-color: burlywood;
  padding: 10px;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
}

.part1{
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

#btn1 button{
  margin-top: 20px;
  margin-right: 20px;
}

#btn2 button{
  margin-top: 20px;
}

.inputype1 input{
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.inputype1{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.inputype2 input{
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.inputype2{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.convert{
  display: flex;
  justify-content: center;
  padding-top: 40px;

}