/* bg-color */

$bg-color-1:red;
$bg-color-2:yellow;
$bg-color-3:green;
$bg-color-4:slategray;
$bg-color-5:yellowgreen;
$bg-color-6:skyblue;
$bg-color-7:purple;
$bg-color-8:blue;
$bg-color-9:pink;
$bg-color-10:black;
$bg-color-11:white;
$bg-color-12:cornflowerblue;



/* text-color */

$color-1:red;
$color-2:yellow;
$color-3:green;
$color-4:slategray;
$color-5:yellowgreen;
$color-6:skyblue;
$color-7:purple;
$color-8:blue;
$color-9:pink;
$color-10:black;
$color-11:white;
$color-12:cornflowerblue;