@media (min-width : 320px){
    /* .coupon{
        visibility: hidden;
    }
    .intro{
        margin-left: -170px;
    }
    .fresh{
        margin-left: -170px;
        font-size: 50px;
    }
    .para{
        margin-left: -170px;
        font-size: 20px;
    }
    .go_shop{
        margin-left: -170px;
    }
    .fruit_img .img{
               
    } */
}