<<<<<<< HEAD
@use './variable' as *;
.nav-items{
    background-color: $bg-color-5;
    padding: $p-1;
}

.links{
    display: $flex;
    list-style-type: none;
    justify-content: $justify-se;
}

.links li a{
    text-decoration: none;
    color: $color-1;
=======
@use './variable' as *;
.nav-items{
    background-color: $bg-color-5;
    padding: $p-1;
}

.links{
    display: $flex;
    list-style-type: none;
    justify-content: $justify-se;
}

.links li a{
    text-decoration: none;
    color: $color-1;
>>>>>>> 1e314b6dab41829ccf25c07f43d1b221c9f35010
}