.textWrapper {
  display: flex;
  justify-content: center;
  background-color: #93f859;
  overflow: hidden;
  text-wrap: nowrap;
  position: relative;
  top: -8px;
  text-transform: uppercase;
}

.textWrapper > div {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 19.2px;
  /* padding: 0.8rem; */
  padding-top: 20px;
  padding-bottom: 20px;
  
  font-weight: 500;
  font-family: sans-serif;
  animation: rightToLeft 15000ms linear infinite;
}
.textWrapper:hover > div {
  /* animation-play-state: paused; */
}
.textWrapper > div > p {
  /* margin-inline: 2rem; */
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
}
.textWrapper > div > span {
  font-size: 12px;
  /* margin-top: 8px; */
}

@keyframes rightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
