<<<<<<< HEAD
/* padding */

$p-1:10px;
$p-2:20px;
$p-3:30px;
$p-4:40px;
$p-5:50px;
$p-6:60px;
$p-7:80px;
$p-8:90px;

/* padding-top */

$pt-1:10px;
$pt-2:20px;
$pt-3:30px;
$pt-4:40px;
$pt-5:50px;
$pt-6:60px;
$pt-7:80px;
$pt-8:90px;

/* padding-left */

$pl-1:10px;
$pl-2:20px;
$pl-3:30px;
$pl-4:40px;
$pl-5:50px;
$pl-6:60px;
$pl-7:80px;
$pl-8:90px;

/* padding-right */

$pr-1:10px;
$pr-2:20px;
$pr-3:30px;
$pr-4:40px;
$pr-5:50px;
$pr-6:60px;
$pr-7:80px;
$pr-8:90px;

/* padding-bottom */

$pb-1:10px;
$pb-2:20px;
$pb-3:30px;
$pb-4:40px;
$pb-5:50px;
$pb-6:60px;
$pb-7:80px;
$pb-8:90px;

/* margin */
 
$m-1:10px;
$m-2:20px;
$m-3:30px;
$m-4:40px;
$m-5:50px;
$m-6:60px;
$m-7:80px;
$m-8:90px;

/* margin-top */

$mt-1:10px;
$mt-2:20px;
$mt-3:30px;
$mt-4:40px;
$mt-5:50px;
$mt-6:60px;
$mt-7:80px;
$mt-8:90px;

/* margin-left */

$ml-1:10px;
$ml-2:20px;
$ml-3:30px;
$ml-4:40px;
$ml-5:50px;
$ml-6:60px;
$ml-7:80px;
$ml-8:90px;

/* margin-right */

$mr-1:10px;
$mr-2:20px;
$mr-3:30px;
$mr-4:40px;
$mr-5:50px;
$mr-6:60px;
$mr-7:80px;
$mr-8:90px;

/* margin-bottom */

$mb-1:10px;
$mb-2:20px;
$mb-3:30px;
$mb-4:40px;
$mb-5:50px;
$mb-6:60px;
$mb-7:80px;
=======
/* padding */

$p-1:10px;
$p-2:20px;
$p-3:30px;
$p-4:40px;
$p-5:50px;
$p-6:60px;
$p-7:80px;
$p-8:90px;

/* padding-top */

$pt-1:10px;
$pt-2:20px;
$pt-3:30px;
$pt-4:40px;
$pt-5:50px;
$pt-6:60px;
$pt-7:80px;
$pt-8:90px;

/* padding-left */

$pl-1:10px;
$pl-2:20px;
$pl-3:30px;
$pl-4:40px;
$pl-5:50px;
$pl-6:60px;
$pl-7:80px;
$pl-8:90px;

/* padding-right */

$pr-1:10px;
$pr-2:20px;
$pr-3:30px;
$pr-4:40px;
$pr-5:50px;
$pr-6:60px;
$pr-7:80px;
$pr-8:90px;

/* padding-bottom */

$pb-1:10px;
$pb-2:20px;
$pb-3:30px;
$pb-4:40px;
$pb-5:50px;
$pb-6:60px;
$pb-7:80px;
$pb-8:90px;

/* margin */
 
$m-1:10px;
$m-2:20px;
$m-3:30px;
$m-4:40px;
$m-5:50px;
$m-6:60px;
$m-7:80px;
$m-8:90px;

/* margin-top */

$mt-1:10px;
$mt-2:20px;
$mt-3:30px;
$mt-4:40px;
$mt-5:50px;
$mt-6:60px;
$mt-7:80px;
$mt-8:90px;

/* margin-left */

$ml-1:10px;
$ml-2:20px;
$ml-3:30px;
$ml-4:40px;
$ml-5:50px;
$ml-6:60px;
$ml-7:80px;
$ml-8:90px;

/* margin-right */

$mr-1:10px;
$mr-2:20px;
$mr-3:30px;
$mr-4:40px;
$mr-5:50px;
$mr-6:60px;
$mr-7:80px;
$mr-8:90px;

/* margin-bottom */

$mb-1:10px;
$mb-2:20px;
$mb-3:30px;
$mb-4:40px;
$mb-5:50px;
$mb-6:60px;
$mb-7:80px;
>>>>>>> 1e314b6dab41829ccf25c07f43d1b221c9f35010
$mb-8:90px;