<<<<<<< HEAD

/* misellensious */

$text-d-none:none;
$text-d-underline:underline;
$list-none:none;

/* float */

$float-l:left;
$float-r:right;
=======

/* misellensious */

$text-d-none:none;
$text-d-underline:underline;
$list-none:none;

/* float */

$float-l:left;
$float-r:right;
>>>>>>> 1e314b6dab41829ccf25c07f43d1b221c9f35010
