:root{
    --primary-color:#93f859;
    --border-line:#ebebeb;
    --client-bgcolor:#f5f5f5
}
*{
    font-family: "Albert Sans", sans-serif;
}


/* header transition*/

.headertransition{
    transition: 0.15s ease-out;
}


/* Main Home Page Slider*/
.slick-dots{
    bottom: 20px ! important;
}

/* button effect in slider*/
.butn::after {
    background: #fff;
    content: "";
    height: 20rem;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(25deg);
    transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 10rem;
}
.butn__new::after {
    left: -100%;
}
.butn__new:hover::after {
    left: 200%;
    opacity: 0.6;
} 
.call-to-action{
    animation:  10s linear infinite righttoleft;
    
}
@keyframes righttoleft{
    0% { 
        transform: translateX(0); 
    } 
    100% { 
        transform: translateX(-100%); 
    }
}
/* Shop by Category Component*/

/* Shop By Category */
.shopCategory .slick-dots{
    top: -70px;
    text-align: right;
    z-index:0;
}
.shopCategory .slick-list{
    z-index:2
}
.shopCategory .slick-dots li.slick-active button,
.shopCategory .slick-dots li.slick-active button:hover,
.shopCategory .slick-dots li button:hover  {
    border: 1px solid black;
    border-radius: 50%;
}
.shopCategory .slick-dots li.slick-active button:before,
.shopCategory .slick-dots li button:hover:before{
    opacity: 1 !important;
    font-size:6px;
    line-height: 22px;
}
.shopCategory .slick-dots li button:before{
    font-size:8px;
}
.shopCategoryBtn,
.shopCategoryBtn:hover{
    transition:0.5s;
}
.shopCategoryBtn .shopCategoryBtnIcon{
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: right;
    width: 0; 
}
.shopCategoryBtn:hover .shopCategoryBtnIcon{
    transform: scale(1);
    width: fit-content;
    margin-inline-start: 8px;
}
.shopCategory .shopCategoryInfo .shopCategoryImg{
    transition: all 2.5s ease;
}
.shopCategory .shopCategoryInfo:hover .shopCategoryImg{
    transform:scale(1.1);
}



/* Two component Section */
.twoComponent .twoComponentImg{
    transition: all 2.5s ease;
}
.twoComponent:hover .twoComponentImg{
    transform:scale(1.1);
}


/* Discount Image Hover */
.imgHover{
    position:relative;
    overflow:hidden;
    transition:0.5s;
}
.imgHover::before{
    content: "";
    background:rgba(0,0,0,0.15);
    height:0;
    width:50%;
    position:absolute;
    top:0;
    left:0;
    transition:0.3s;
}
.imgHover::after{
    content: "";
    background:rgba(0,0,0,0.15);
    height:0;
    width:50%;
    position:absolute;
    bottom:0;
    right:0;
    transition:0.3s;
}
.imgHover:hover::before{
    height:100%;
    transition:0.3s;
}
.imgHover:hover::after{
   height:100%;
    transition-delay:0.3s;
}


/* Blogs Post */

.blogspost .slick-dots{
    /* bottom: 101px !important; */
}



.container-section{
    padding: 50px 50px 0 50px;
}
@media only screen and (max-width: 768px) {
    .container-section{
        padding: 30px 30px 0 30px;
    }
}
@media only screen and (max-width: 576px) {
    .container-section{
        padding: 10px 10px 0 10px;
    }
}


 /* Best Deals Discount Page */

 .bestdeals-data{
    animation-name: fadeInUp;
    animation-delay: 0s;
 }

 @keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translateY(20px);
  } 
  100%{
    opacity: 1;
    transform: translateY(0);
  } 
 }




 .trendingdots .slick-dots{
    bottom: 470px ! important;
    left: 630px !important;
 }


 /* Allinnerbanner background image */
 .bginnerbanner{
    background-image: url(./assets/bginnerbanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }



 /* AboutUs page */
 .aboutShopGram::before{
    content:"";
    display:block;
    background:black;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    z-index:9;
    transition:1s;
}
.aboutShopGram:hover::before{
    opacity:0.2;
    transition:1s;
}



/* Accordian */
.accordian{
    box-shadow:none !important;
}
.accordian .MuiAccordion-heading .MuiButtonBase-root{
    padding:0;
}
.accordian .MuiCollapse-root .MuiCollapse-wrapper .MuiAccordion-region .MuiAccordionDetails-root{
    padding:8px 0px 10px 0px;
}
.accordian .MuiAccordion-heading .MuiAccordionSummary-content{
    border-bottom: 1px solid #ebebeb;
    padding-bottom:15px;
    margin:0;
}
