body{
    width: 1370px;
}


.mainslider1 , .mainslider2 , .mainslider3{
    position: relative;
}
.slide1 , .slide2 , .slide3{
    position: absolute;
    top: 0;
    left: 0;
}

.scroll{
    background-color: #93f859;
    height: 60px;
    font-weight: 600;
    font-size: small;
    display: flex;
    align-items: center;
}

.slick-dots{
    
}